.navbar {
    /* width: 100%; */
    display: flex;
    justify-content: flex-end;
    align-items:center;
    vertical-align: middle;
    text-align: center;
}

.notifications {
    cursor: pointer;
    font-size: 1.3rem;
}

.user {
    margin-top:0;
    margin-left: 1rem;
    margin-right: 1rem;
}

.user span {
    margin-top: 0;
    font-weight: 100;
    font-size: smaller;
}

.profile {
    font-size: 0.5rem;
    vertical-align: middle;
}

.userPic {
    height: 1rem;
    width: 1rem;
    border-radius:50%;
}

.dropdown {
    font-size:smaller;
    margin-right: 1rem;
    margin-left: 0.4rem;
    cursor: pointer;
}