.sidebar {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo {
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    flex: 1;
}

.menu {
    flex: 4;
}

.menuButton {
    cursor: pointer;
    display: block;
}

.menuIcon {
    padding:0.5rem;
}

.menuButton :hover {
    color: blue;
    border-right: 4px solid blue;
}

.settings {
    padding-bottom: 0.5rem;
}