.title {
    /* width: 100%;
    height:100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard {
    flex: 1;
}

.dashboard h3 {
    margin-top:0;
    margin-bottom: 0;
}

.dashboard span {
    font-weight: 600;
    font-size: 0.8rem;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search button {
    background-color:#0275d8;
    color: white;
    font-family: 'Poppins', sans-serif;
    border: none;
    padding: 0.2rem 1rem;
    border-radius: 2px;
    margin-left: 0.3rem;
    margin-right: 1rem;

}

.addIcon {
    font-size:0.6rem;
    padding-right:0.3rem;
}

.search input {
    margin-left: 0.6rem;
    margin-right: 1rem;
    background-color: black;
    color: white;
    outline: none;
    border: none;
}

@media screen and (max-width: 768px) {
    .title {
        display: block;
    }
    .dashboard {
        margin: 1rem;
    }
    .search {
        margin: 1rem;
        width: min(80%, 70rem)
    }
    .search button {
        font-size: 0.8rem;
    }
    .addIcon {
        font-size: 0.4rem;
        padding: 0;
    }
}