:root{
  --main-radius: 5px;
}

@viewport {
  zoom: 1;
  width: extend-to-zoom;
}

@-ms-viewport {
  zoom: 1;
  width: extend-to-zoom;
}

.App {
  height: 100%;
  display: grid;
  grid-template-columns: 0.1fr 0.8fr 0.8fr 0.8fr 1fr;
  grid-template-rows: 0.1fr 0.2fr 0.6fr 1.2fr 1.2fr;
  grid-template-areas: 
  "sidebar navbar navbar navbar navbar"
  "sidebar title title title title"
  "sidebar totalApps shortList rejected newApps"
  "sidebar appGraph appGraph appBarGraph newApps"
  "sidebar referrals referrals openPositions newApps";
  gap:1.6rem;
  margin:0;
  padding:0;
}

#sidebar {
  grid-area: sidebar;
  height: 100vh;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  position: fixed;
  background-color:black;
}

#navbar {
  grid-area: navbar;
}

#title {
  grid-area: title;
}

#totalApps {
  grid-area: totalApps;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: var(--main-radius);
}

#shortList {
  grid-area: shortList;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: var(--main-radius);
}

#rejected {
  grid-area: rejected;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: var(--main-radius);
}

#appGraph {
  grid-area: appGraph;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: var(--main-radius);
}

#appBarGraph {
  grid-area: appBarGraph;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: var(--main-radius);
}

#referrals {
  border: 1px solid rgba(255, 255, 255, 0.2);
  grid-area: referrals;
  border-radius: var(--main-radius);
}

#openPositions {
  border: 1px solid rgba(255, 255, 255, 0.2);
  grid-area: openPositions;
  border-radius: var(--main-radius);
}

#newApps {
  border: 1px solid rgba(255, 255, 255, 0.2);
  grid-area: newApps;
  border-radius: var(--main-radius);
}


@media screen and (max-width: 768px) {
  .App {
    height: 140vh;
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: 0.1fr 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "sidebar navbar"
    "sidebar title"
    "sidebar totalApps"
    "sidebar shortList"
    "sidebar rejected"
    "sidebar appGraph"
    "sidebar appBarGraph"
    "sidebar referrals"
    "sidebar openPositions"
    "sidebar newApps";
    gap: 0.2rem;
  } 
}

@media screen and (max-width: 480px) {
  .App {
    height: 100vh;
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: 0.1fr 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "sidebar navbar"
    "sidebar title"
    "sidebar totalApps"
    "sidebar shortList"
    "sidebar rejected"
    "sidebar appGraph"
    "sidebar appBarGraph"
    "sidebar referrals"
    "sidebar openPositions"
    "sidebar newApps";
    gap: 0.2rem;
  } 
  
}