:root{
  --main-radius: 5px;
}

.App {
  width: 100%;
  height: 130vh;
  display: grid;
  grid-template-columns: 0.1fr 0.8fr 0.8fr 0.8fr 1fr;
  grid-template-rows: 0.1fr 0.2fr 0.6fr 1.2fr 1.2fr;
  grid-template-areas: 
  "sidebar navbar navbar navbar navbar"
  "sidebar title title title title"
  "sidebar totalApps shortList rejected newApps"
  "sidebar appGraph appGraph appBarGraph newApps"
  "sidebar referrals referrals openPositions newApps";
  padding-top: 0.2rem;
  gap:1.8rem;
}

#sidebar {
  grid-area: sidebar;
  height: 100vh;
  width: 2.4rem;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  position: fixed;
  z-index: 10;
  background-color:black;
}

#navbar {
  grid-area: navbar;
}

#title {
  grid-area: title;
}

#totalApps {
  grid-area: totalApps;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: var(--main-radius);
}

#shortList {
  grid-area: shortList;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: var(--main-radius);
}

#rejected {
  grid-area: rejected;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: var(--main-radius);
}

#appGraph {
  grid-area: appGraph;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: var(--main-radius);
}

#appBarGraph {
  background-color: blanchedalmond;
  grid-area: appBarGraph;
  border-radius: var(--main-radius);
}

#referrals {
  background-color: blue;
  grid-area: referrals;
  border-radius: var(--main-radius);
}

#openPositions {
  background-color: blueviolet;
  grid-area: openPositions;
  border-radius: var(--main-radius);
}

#newApps {
  background-color: brown;
  grid-area: newApps;
  border-radius: var(--main-radius);
}